/*
* @Author: Administrator
* @Date:   2018-02-06 13:57:17
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-28 16:38:09
*/
*{
	margin: 0;
	padding:0 ;
	list-style: none;
	text-decoration: none;
	color: #B0B0B0;

}
.header{
	width: 100%;
	height: 40px;
	background: #333333;
}
.main{
	width: 1226px;
	height: 100%;
	background: #333333;
	margin:0 auto;

}
.header_left{
	width: 410px;
	height:100%;
	/* background: red;  */
	float: left;
}
.header_right{
	width: 278px;
	height:100%;
	/* background: red;  */
	float: right;
	position: relative;

}
.header_left li{
	float: left;
}
.header_left li a{
	font-size: 12px;
	color: #b0b0b0;
	padding-right: 9px;
	padding-left: 8px;
	border-right:1px solid #424242; 
	display: block;
	margin-top: 14px;
	font-family: "微软雅黑";

}
.header_left li:first-child a{
	padding-left: 0px;

}
.header_left li:last-child a{
	padding-right: 0;
	border-right: none;
}
.header_left li a:hover{
	color: #fff;
}
.header_right_table{
	width: 158px;
	height: 100%;
	/* background: pink; */
	float: left 
}
.header_right_table li{
	float: left;
}
.header_right_table li a{
	font-size: 12px;
	color:  #b0b0b0;
	padding-right: 7px;
	border-right: 1px solid #424242;
	padding-left: 9px;
	display: block;
	margin-top: 14px;

}
.header_right_table li:last-child a{
      padding-right: 25px;
      border-right: none;
}
.header_right_table li:first-child a{
	padding-left: 0px;
}
.header_right_table li a:hover{
	color: #fff;
}
.header_right_kuang{
	display: block;
	width: 120px;
	height: 100%;
	background: #424242;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 56;
	transition:all 0.1s linear 0.3s;
}

.header_kuang_tan{
	width: 316px;
	height: 93px;
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 30;
	font-size: 12px;
	overflow: hidden;
	color: #adadad;
	text-align: center;
	line-height: 83px;
	transition: all 0.3s linear;
	display: none;
	background: #fff;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1)
}

.header_right_kuang .icon-icon8{
	font-size: 14px;
	color: #b0b0b0;
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 17px;
	transition:all 0.1s linear 0.3s;
}
.header_right_kuang span{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	margin-left: 3px;
	margin-top: 14px;
	transition:all 0.1s linear 0.3s;
}
.header_right_kuang:hover{
	background: #fff;

}
.header_right_kuang:hover .icon-icon8{
	color: #ff6709;
}
.header_right_kuang:hover span{
	color: #ff6709;
}


/* logo */

.logoda{
	width: 100%;
	height: 100px;
	/* background: blue; */
	position: relative;
}
.logo{
	width: 1226px;
	height: 100px;
	background: #fff;
	margin: 0 auto;
	

}
.logo1{
	width: 60px;
	height: 100px;
	background: #fff;
	float: left;
	/* margin-right: 17px; */
}
.logo1_tubiao{
	display: block;
	width: 55px;
	height: 55px;
	/* background: red; */
	margin-top: 22px;
}
.logo2{
	width: 181px;
	height: 100px;
	background: #fff;
    float: left;
    margin-right: 3px;
}
.logo2_nian{
	display: block;
	width: 180px;
	height: 66px;
	/* background: red; */
	margin-top: 17px;
}



.logo3{
	width: 632px;
	height: 100px;
	background: #fff;
	float: left;
	margin-right: 54px;
	
}
/* .logo3 li{
	float: left;
} */
.logo3 li {
	height: 100px;
	font-size: 15px;
	color: #333333;
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	display: block;
	/* margin-top: 43px; */
    float: left;
    /* cursor: pointer; */
    /* padding: 0 10px; */
}
.logo3 li .logo3_daohanga{
	padding: 0 10px;
	font-size: 15px;
	color: #333333;
	margin-top: 43px;
	display: block;
	cursor: pointer;
	
  
    
}
.logo3_xiala{
	width: 100%;
	height: 230px;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 0;
	border-top: 1px solid #fff;
	overflow: hidden;
	z-index: 9999;
	
	display: none;
}
.logo3_xiala_neikuang{
	width: 1226px;
	height: 229px;
	background: #fff;
	margin: 0 auto;
	/* display: none; */
}
.logo3_xiala_bian{
    height:229px;
    /* border-top: 2px solid #fff; */
    border-top-color: #e0e0e0;
    z-index: 30;
}

.tra{
	transition:height 0.2s linear;
}

.logo3_xiala_neirong{
    width: 205px;
    height: 229px;
    background:#fff;
    float: left;
    position: relative;
}

.logo3_xiala_neirong1{
	width: 64px;
	height: 20px;
	border: 1px solid #ff6700;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	/* z-index: 60; */
	font-size: 12px;
	color: #ff6700;
	line-height: 20px;
	text-align: center;

}
.logo3_xiala_neirong2{
	width: 185px;
	height: 144px;
	margin-top: 22px;
	margin-left: 10px;

}
.logo3_xiala_neirong2 a{
	width: 185px;
	height: 144px;
	display: block;
}
.logo3_xiala_neirong .logo3_xiala_neirong3{
	font-size: 12px;
	color: #929292;
	margin-left: 74px;


}
.logo3_xiala_neirong4{
	height: 30px;
	font-size: 12px;
	color: #ff6700;
	line-height: 30px;
	margin-left: 76px;
}
.logo3_xiala_neirong5{
	width: 1px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 35px;
	background: #e0e0e0;
}
/* .logo3_xiada{
	width: 100%;
	width: 100%;
    height: 229px;
    background: red;
    position: absolute;
    top: 100px;
    z-index: 12;
  
}
 */
/* .logo3_xia{
    width: 1226px;
    height: 229px;
    background: blue;
    position: absolute;
    margin: 0 auto;
   /*  top: 100px;
   z-index: 12; */
   /*  display: none; */



/* .logo3_xia li{
    width: 100%;
    height: 0px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.2s linear 0.2s;
} */
.logo3 li:first-child{
	margin-left: 0px;
}
.logo3 li:hover{
	color: #ff6700;
}
.logo3 li:hover .logo3_daohanga{
	color: #ff6700;
}










.logo4{
	width: 296px;
	height: 100px;
	background: #fff;
	float: left;
	position: relative;
	/* overflow: hidden; */
}
.logo4_left{
	width: 243px;
	height: 48px;
	/* background: pink; */
	float: left;
	border: 1px solid #e0e0e0 ;
	margin-top: 25px;
	position: relative;
}
[name="lili"]{
	display: block;
	width: 240px;
	height: 48px;
	text-indent: 1em;	
	border: none;

}

[name="lili"]:focus{
	outline: none;
}


.sousuo_xiala{
	width: 243px;
	height: 300px;
	border: 1px solid #ff6700;
	position: absolute;
	top: 75px;
	left: 0;
	border-top: 0;
	background: #fff;
	z-index: 60;
	display: none;
}
.sousuo_xiala li{
	width: 100%;
	height: 30px;
	/* background: red; */
}
.sousuo_xiala li a{
	display: block;
	width: 100%;
	height: 30px;
	/* background: red; */
}
.sousuo_xiala li a:hover{
	background: #fafafa;
}


.sousuo_xialal{
	height: 30px;
	font-size: 11px;
	color: #8d8d8d;
	line-height: 30px;
	/* text-align: center; */
	float: left;
	margin-left: 14px;
}

.sousuo_xialaR{
	height: 30px;
	font-size: 11px;
	color: #8d8d8d;
	line-height: 30px;
	/* text-align: center; */
	float: right;
	margin-right: 15px;
}
.logo4_right{
	width: 50px;
	height: 48px;
	background:#fff;
	float:left;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 25px;
}
.logo4 .logo4_leftbian{
     border-color: #b0b0b0;
     border-right-color: #ff6700;

}
.logo4 .logo4_rightbian{
    border-top-color: #ff6700;
    border-bottom-color: #ff6700;
    border-left-color: #ff6700;
    border-right-color: #ff6700;
    background: #ff6700;
	/* border-left:none; */
}
.logo4 .logo4_leftbian2{
    border: 1px solid #b0b0b0 ;
}
.logo4 .logo4_rightbian2{
   border:1px solid #b0b0b0; border-left:none;
}
.logo4 .logo4_leftbian3{
    border: 1px solid #ff6700 ; 
}
.logo4 .logo4_rightbian3{
   border:1px solid #ff6700; border-left:none;
}


.logo4_right .icon-msnui-find-bold{
	font-size: 18px;
	color: #616161;
	display: block;
    margin-top: 15px; 
	margin-left: 17px;

}
.logo4  .logo4_right:hover{
	background:  #ff6700;
} 
.logo4  .logo4_right:hover .icon-msnui-find-bold{
	color:   #fff;
} 



.logo4_leftl{
	display: block;
	width: 69px;
	height: 18px;
	background: #eeeeee;
    position: absolute;
    top: 15px;
    right: 86px;
    font-size: 11px;
    color: #757575;
    text-align: center;
    line-height: 18px;
}

.logo4_leftl:hover{
	background: #F87300;
	color: #fff;
}

.logo4_leftR{
	display: block;
	width: 69px;
	height: 18px;
	background: #eeeeee;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 11px;
    color: #757575;
    text-align: center;
    line-height: 18px;
}

.logo4_leftR:hover{
	background: #F87300;
	color: #fff;
}



/* banner */
.banner{
	width: 1226px;
	height: 460px;
	/* background: pink; */
	margin: 0 auto;
	position: relative;
}
.banner_img{
	width: 1226px;
	height: 460px;
	/* background: red; */
	margin: 0 auto;
	position: relative;
}
.banner_img li{
	width: 1226px;
	height: 460px;
	/* background: blue; */
	position: absolute;
	left: 0;
	right: 0;
}
.banner_img li a{
	width: 1226px;
	height: 460px;
	display: block;

}
.banner_img li a img{
	display: block;
	width: 100%;
	opacity: 0;
	z-index: 0;

}
.banner_img li a .bannerlunbo{
	z-index: 32;
	opacity: 1;
}

.banner_aside{
	width: 234px;
	height: 460px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
}
.banner_aside li{
	width: 100%;
	height: 42px;
	/* background: red; */
}
.banner_aside_chu{
	width: 795px;
	/* width: auto; */
	height: 456px;
	background: #fff;
    position: absolute;
    top: 0;
    left: 234px;
    z-index: 46;
    padding-top: 4px;
    padding-left: 9px;
    display: none;
    border: 1px solid #e0e0e0;
    border-left:0;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
	/* position: relative; */

}
/* .banner_aside_chu:nth-child(2){
	width: 1060px;

} */
.banner_aside_chu_neirong a:hover .chu_zi{
	color: #ff6700;
}
.banner_aside_chu_neirong{
	width: 265px;
	height: 75px;
	/* background: blue; */
	float: left;
}

.banner_aside_chu_neirong a{
	display: block;
	width: 265px;
	height: 75px;
	/* background: blue; */
	float: left;
}
.chu_tu{
	float: left;
}
.chu_zi{
	font-size: 12px;
	color: #5f5f5f;
	line-height: 75px;
	float: left;

}

/* .banner_aside_chu ul{
   width: 795px;
   height: 458px;
   background: blue;
   border: 1px solid #e0e0e0;
   border-left:0;
   box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
}
 */
.banner_aside li:first-child{
	margin-top: 20px;
}
.banner_aside li a{
	display: block;
	width: 100%;
	height: 100%;
	/* background: blue; */
}
.banner_asidel{
	font-size: 12px;
	color: #fff;
	font-family: "微软雅黑";
	font-weight: bold;
	float: left;
	line-height: 42px;
	margin-left: 29px;
}
.icon-jiantouyou{
	font-size: 12px;
	color: #fff;
	float: right;
	margin-right: 24px;
	line-height: 42px;

}
.banner_aside li:hover{
	background: #ff6700;
}
.banner_qiu{
	width: 90px;
	height: 10px;
	position: absolute;
	bottom: 25px;
	right: 35px;
}
.banner_qiu li{
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 0.5);
	/* background: #6f1613; */
	border: 2px solid #9a5b59;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.banner_qiu li:last-child{
	margin-right: 0;
}
.banner_qiu li:hover{
	background: rgba(255, 255, 255, 0.5);

}
.banner_qiu li.qiubian{
	background: rgba(255, 255, 255, 0.5);
}

.banner_qiul{
	width: 41px;
	height: 69px;
	position: absolute;
	left: 234px;
    cursor: pointer;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;

	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 69px;
	/* 圆角 */
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}
.banner_qiur{
	width: 41px;
	height: 69px;


	position: absolute;
	right: 0;

	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
    cursor: pointer;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 69px; 

	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}
.banner_qiur:hover{
	background: rgba(0, 0, 0, 0.5)
}
.banner_qiul:hover{
	background: rgba(0, 0, 0, 0.5)
}


/* 四版 */
.siban{
	width: 1226px;
	height: 170px;
	/* background:red; */
	margin: 0 auto; 
	padding-top: 14px;
}
.siban1{
	width: 234px;
	height: 170px;
	/* background: pink; */
	float: left;
	margin-right: 14px;
}
.siban1 li:first-child{
	width: 80px;
	height: 85px;
	background: #5f5750;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.siban1 li:hover .iconfont {
	color: #fff;

}

.siban1 li:hover .siban1_zi {
	color: #fff;

}
.siban1 li:nth-child(2){
	width: 76px;
	height: 85px;
	background: #5f5750;
	float: left ;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;

}

.siban1 li:nth-child(3){
	width: 78px;
	height: 85px;
	background: #5f5750;
	float: left ;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.siban1 li:nth-child(4){
	width: 80px;
	height: 85px;
	background: #5f5750;
	float: left ;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.siban1 li:nth-child(5){
	width: 76px;
	height: 85px;
	background: #5f5750;
	float: left ;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.siban1 li:nth-child(6){
	width: 78px;
	height: 85px;
	background: #5f5750;
	float: left ;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.juxia{
	width: 64px;
	height: 1px;
	background: #665e57;
	position: absolute;
	bottom: 0;
	left: 9px;
}

.siban1 li a .iconfont{
	font-size: 25px;
	color: #cdcac8; 
	/* line-height: 85px; */
	margin-top: 20px;
	display: block;
	margin-left: 14px;


}

.siban1_zi{
	font-size: 11px;
	color: #cdcac8;
	/* line-height: 85px; */
	margin-top: 7px;
}

.juright{
	width: 1px;
	height: 70px;
	background:#665e57;
	position: absolute;
	right: 0;
	top: 6px; 
}

.siban2{
	width: 316px;
	height: 170px;
	/* background: blue; */
	float: left;
	margin-right: 15px;

}
.siban .siban2:last-child{
	margin-right: 0;
}
.siban1 li{
	width: 
}
.siban2_jian{
	display: block;
	width: 316px;
	height: 170px;
	/* background: pink; */
	transition: 0.5s;
	overflow: hidden;
}
.siban2_jian:hover{
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
}












































.star{
	width: 1226px;
	height: 398px;
	/* background: red; */
	margin: 0 auto;
	
}
.star_top{
	width: 1226px;
	height: 58px;
	background: #ffffff;
}
.star_bottom{
	width: 100%;
	height: 340px;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.danpin2{
    width: 300%;
    height: 340px;
    /* background: red; */
    transition: all 0.5s linear 0.2s;
    position: absolute;
    top:0px;
    left: 0;


}

.star_top h1{
	font-size: 21px;
	color: #333333;
	line-height: 58px;
	float: left;
} 
.star_btn{
	width: 71px;
	height: 24px;
	/* background: red; */
	float: right;
	margin-top: 24px;
}
.star_btnl{
	width: 34px;
	height: 24px;
	background: #ffffff;
	float: left;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	color: #E0E0E0;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;

}
.star_btnR{
	width: 34px;
	height: 24px;
	background: #ffffff;
	float: right;
	border: 1px  solid #e0e0e0;
	border-left: none;
	font-size: 12px;
	color: #BDB1B0;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;
}
.star_btnl:hover{
	color: #ff6700;

}
.star_btnR:hover{
	color: #ff6700;
}
/* .danpin{ */
	/* width: 234px; */
	/* height: 339px; */
	/* background: red; */
	/* border-top: 1px solid #ffac13; */
/* } */
.danpin2 li{
	width: 234px;
	height: 339px;
	background: #fafafa;
	float: left;
	margin-right: 14px;

}
.danpin2 li:nth-child(5n){
	 margin-right: 0;
	 border-top: 1px solid #00c0a5; 
}
.danpin2 li:first-child{
     border-top: 1px solid #ffac13; 
}
.danpin2 li:nth-child(7){
     border-top: 1px solid #ffac13; 
}
.danpin2 li:nth-child(11){
     border-top: 1px solid #ffac13; 
}
.danpin2 li:nth-child(13){
     border-top: 1px solid #ffac13; 
}
.danpin2 li:nth-child(2n){
	border-top: 1px solid #83c44e;
}
.danpin2 li:nth-child(3n){
	border-top: 1px solid #2196f3;
}
.danpin2 li:nth-child(4n){
	border-top: 1px solid #e53935;
}
.danpin_img{
	display: block;
	width: 165px;
	height: 150px;
	/* background: red; */
	margin : 43px auto 0;
}
.danpin_img img{
	display: block;
	width: 100%;
	height: auto;
}
.lianjiezi{
	font-size: 12px;
	color: #212121;
	text-align: center;
	display: block;
	width: 100%; 
	line-height: 20px;
	margin-top: 34px;
}
.danpin2 li h2{
	font-size: 11px;
	color: #b0b0b0;
	text-align: center;
	line-height: 25px;
}
.danpin2 li h3{
	font-size: 12px;
	color: #ff6709;
	text-align: center;
	line-height: 38px;
}




/* 家电 */
.jiadian{
	width: 1226px;
	height: 674px;
	background: #f5f5f5;
	margin: 0 auto;
}
.jiadian_header{
	width: 100%;
	height: 60px;
	background: #f5f5f5;
}
.jiadian_bottom{
	width: 100%;
	height: 614px;
	background: #f5f5f5;
	position: relative;
}
.jiadian_headerl{
	width: 104px;
	height: 60px;
	background: #f5f5f5;
	float: left;
	font-size: 22px;
	color: #333333;
	line-height: 60px;
	font-weight: bold;
}
.jiadian_headerR{
	width: 250px;
	height: 60px;
	background: #f5f5f5;
	float: right;
}
.jiadian_headerR li{
	float: left ;
	font-size: 16px;
	color: #424242;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	/* padding-bottom: 3px; */
}
.jiadian_headerR  .active{
   	float: left ;
	font-size: 16px;
	color: #ff6700;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;

}
.jiadian_headerR li:first-child{
	margin-left: 0px;
	/* height: 19px; */
	/* border-bottom: 2px solid #ff6700; */
	/* color: #ff6700; */
}
.jiadian_bottoml{
	height: 614px;
	width: 234px;
	display: block;
	float: left;
	transition: all 0.1s linear 0.2s; 
}
.jiadian_bottoml:hover{
	transform: translateY(-2px);
	/* box-shadow: 0px 3px 30px 3px rgba(0, 0, 0, 0.3); */
}
.jiadian_bottomR{
	height: 614px;
	width: 978px;
	float: right;
	position: relative;
 
}

.jiadian_bottomR ul{
	height: 614px;
	width: 978px;
	/* background: red; */
	background: #f5f5f5;
	float: right;
	position: absolute;
	top: 0;
	left: 0;
	/* display: none; */

}
.jiadian_bottomR ul:first-child{
    z-index: 71;
}
.jiadian_bottom li{
	height: 300px;
	width: 234px;
	background: #fff;
	float: left;
	margin-bottom: 14px;
	margin-right: 14px;
	position: relative;
    overflow: hidden;
    transition: all 0.2s linear 0.2s; 
}
.jiadian_bottom li:hover{
	 box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
	 transform: translateY(-2px);
}
.jiadian_bottom li:last-child:hover{
	transform: translateY(0px);
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
}

.jiadian_tanchuang{
	width: 234px;
	height: 76px;
	background: #ff6700;
	position: absolute;
	bottom: -76px;
	transition: all 0.2s linear 0.2s;
}
.jiadian_bottom li:hover .jiadian_tanchuang{
	bottom: 0px;
}
.jiadian_tanchuang_p{
	width: 169px;
	height: 30px;
	/* background: red; */
	margin: 11px auto;
	display: block;
	font-size: 11px;
	color: #fff;
}
/* .jiadian_tanchuang_pingjia{
	font-size: 11px;
	color: #fff;
	
} */
.jiadian_tanchuang_xia{
	width: 169px;
	height: 35px;
	margin-left: 30px;
	display: block;
	font-size: 11px;
	color: #fff;
}
/* .jiadian_tanchuang_xia_zi{
	font-size: 11px;
	color: #fff;
}
 */



.jiadian_bottom li:last-child{
	background: #f5f5f5;
}
.jiadian_bottom li:nth-child(4){
	margin-right: 0px;
}
.jiadian_bottom li:nth-child(8){
	margin-right: 0px;
}



.jiadian_img{
	height: 139px;
	width: 182px;
	display: block;
	margin-top: 18px;
	margin-left: 29px;
}
.jiadian_bottom li .jiadian_img2{
	height: 139px;
	width: 182px;
	display: block;
	margin-top: 38px;
	margin-left: 29px;
}
.jiadian_bottom li .jiadian_bottom_zi{
	width: 234px;
	height: 18px;
	display: block;
	margin: 26px auto;
	margin-bottom: 0px;
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	text-align: center;
}
.jiadian_bottom_top{
	height: 17px;
	width: 64px;
	background: #e53935;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding-top: 3px;
}
.jiadian_bottom_top2{
	height: 17px;
	width: 64px;
	background: #83c44e;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding-top: 3px;
}
.jiadian_huizi{
	width: 234px;
	height: 21px;
	font-size: 11px;
	color: #b0b0b0;
	text-align: center;
	line-height: 21px;

}
.jiadian_jiage{
	width: 234px;
	height: 38px;
}
.jiadian_jiage1{
	width: 38px;
	height: 39px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #ff6700; 
	line-height: 39px;
	padding-left: 74px;
}
.jiadian_jiage2{
	width: 112px;
	height: 39px;
	/* background: blue; */
	float: right;
	margin-right: 5px;
	font-size:12px;
	color:#b0b0b0; 
	line-height: 39px;
	text-decoration: line-through;
}
.jiadian_jiage3{
	width: 234px;
	height: 39px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #ff6700; 
	line-height: 39px;
	text-align: center;
	margin-top: 21px;
}
.jiadian_jiage4{
	width: 234px;
	height: 39px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #ff6700; 
	line-height: 39px;
	text-align: center;
}
.jiadian_8_shang{
	width: 234px;
	height: 143px;
	background: #fff;
	transition: all 0.2s linear 0.2s;
	position: absolute;
	bottom: 157px;
	right: 0;
}
.jiadian_8_shang:hover{
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
.jiadian_8_xia{
	width: 234px;
	height: 143px;
	background:#fff; 
	margin-top: 14px;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all 0.2s linear 0.2s;
}
.jiadian_8_xia:hover{
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
.jiadian_8_shangl{
	width: 83px;
	height: 53px;
	/* background: pink; */
	margin-top: 36px;
	margin-left: 30px;
	float: left;

}
.jiadian_bottom  .jiadian_8_shang .jiadian_8_shangr{
	width: 121px;
	height: 107px;
	background: #fff;
	float: right;
	display: block;
	margin-top: 36px;
	margin-left: 0px;
}
.jiadian_8_shangl1{
	width: 83px;
	height: 28px;
	background: #fff;
	display: block;
	font-size: 12px;
	color: #333333;
	line-height: 28px;
}
.jiadian_8_shangl2{
	width: 83px;
	height: 25px;
	background:#fff;
	font-size: 11px;
	color: #ff6700;
	line-height: 25px;
}
.jiadian_8_xial{
	width: 83px;
	height: 43px;
	margin-top: 51px;
	float: left;
	margin-left: 30px;

}
.jiadian_8_xiaR{
	width: 121px;
	height: 107px;
	float: right;
	margin-top: 36px;
}
.jiadian_8_xial1{
	display: block;
	width: 100px;
	height: 26px;
	font-size: 18px;
	color: #333333;
	line-height: 26px;
	font-weight: bold;
}
.jiadian_8_xial2{
	display: block;
	width: 100px;
	height: 17px;
	font-size: 11px;
	color: #b7b0b0;
	line-height: 17px;
}






.zhineng{
	width: 1226px;
	height: 674px;
	background: #f5f5f5;
	margin: 0 auto;
}
.zhineng_headerR{
	/* width: 296px; */
	height: 60px;
	background: #f5f5f5;
	float: right;
}
.zhineng_headerR li{
	float: left ;
	font-size: 16px;
	color: #424242;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
}



.zhineng_headerR .active{
   	float: left ;
	font-size: 16px;
	color: #ff6700;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;

}


/* .zhineng_headerR li:first-child{
	margin-left: 0px;
	height: 19px;
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
} */
.zhineng_bottoml{
	height: 614px;
	width: 234px;
	display: block;
	float: left;
	/* transition: all 0.1s linear 0.2s;  */
}
.zhineng_bottomR{
  	height: 614px;
	width: 978px;
	float: right;
	position: relative;
}


.zhineng_bottomR ul{
	height: 614px;
	width: 978px;
	/* background: red; */
	background: #f5f5f5;
	float: right;
	position: absolute;
	top: 0;
	left: 0;
	/* display: none; */

}
.zhineng_bottomR ul:first-child{
    z-index: 71;
}
.zhineng_bottoml1{
	width: 234px;
	height: 300px;
	/* background: red; */
	display: block;
	transition: all 0.1s linear 0.2s; 
}
.zhineng_bottoml1:hover{
	transform: translateY(-2px);
}
.zhineng_bottoml2{
	width: 234px;
	height: 300px;
	/* background: red; */
	display: block;
	margin-top: 14px;
	transition: all 0.1s linear 0.2s; 
	/* position: absolute;
	bottom: 0;
	right: 0; */
}
.zhineng_bottoml2:hover{
	transform: translateY(-2px);
}

/* 搭配 */

.dapei{
	width: 1226px;
	height: 674px;
	background: #f5f5f5;
	margin: 0 auto;
}
.dapei_headerR{
	/* width: 298px; */
	height: 60px;
	background: #f5f5f5;
	float: right;
}
.dapei_headerR li{
	float: left ;
	font-size: 16px;
	color: #424242;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
}
.dapei_headerR .active{
   	float: left ;
	font-size: 16px;
	color: #ff6700;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;

}

.dapei_huizi{
	width: 234px;
	height: 21px;
	font-size: 11px;
	color: #ff6700;
	text-align: center;
	line-height: 21px;
}
.dapei_jiage4{
	width: 234px;
	height: 39px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #b7b0b7; 
	line-height: 39px;
	text-align: center;
}
.dapei_jiage1{
	width: 38px;
	height: 21px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #ff6700; 
	line-height: 21px;
	padding-left: 74px;
}
.dapei_jiage2{
	width: 112px;
	height:21px;
	/* background: blue; */
	float: right;
	margin-right: 5px;
	font-size:12px;
	color:#b0b0b0; 
	line-height: 21px;
	text-decoration: line-through;
}



/* 配件 */


.peijian{
	width: 1226px;
	height: 674px;
	background: #f5f5f5;
	margin: 0 auto;
}
.peijian_headerR{
	/* width: 267px; */
	height: 60px;
	background: #f5f5f5;
	float: right;
}

.peijian_headerR .active{
   	float: left ;
	font-size: 16px;
	color: #ff6700;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;

}
.peijian_headerR li{
	float: left ;
	font-size: 16px;
	color: #424242;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
}

/* 周边 */
.zhoubian{
	width: 1226px;
	height: 674px;
	background: #f5f5f5;
	margin: 0 auto;
}
.zhoubian_headerR{
	/* width: 312px; */
	height: 60px;
	background: #f5f5f5;
	float: right;
}
.zhoubian_headerR .active{
   	float: left ;
	font-size: 16px;
	color: #ff6700;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;

}
.zhoubian_headerR li{
	float: left ;
	font-size: 16px;
	color: #424242;
	margin-left: 30px;
	margin-top: 23px;
	cursor: pointer;
}


/* 为你推荐 */
.tuijian{
	width: 1226px;
	height: 358px;
	margin: 0 auto;
}
.tuijian_bottom{
	width: 3678px;
	height: 300px;
	 background: #f5f5f5;
	 /* overflow: hidden; */
}

.tuijian_bottom_gu{
	width: 1226px;
	height: 300px;
	 background: #f5f5f5;
	 overflow: hidden;
}
.tuijian_bottom li{
	width: 234px;
	height: 300px;
	background: #fff; 
	float: left ;
	margin-right: 14px;
	transition: all 0.1s linear 0.2s; 
} 
.tuijian_bottom li:nth-child(5){
	margin-right: 0;
}
.tuijian_bottom li:nth-child(10){
	margin-right: 0;
}
.tuijian_bottom li:hover{
	transform: translateY(-2px);
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
}
.tuijian_bottom li:last-child{
	margin-right: 0px;
}
.tuijian_bottom li .jiadian_img2{
	height: 139px;
	width: 182px;
	display: block;
	margin-top: 38px;
	margin-left: 29px;
}
.tuijian_bottom li .jiadian_bottom_zi{
	width: 234px;
	height: 18px;
	display: block;
	margin: 26px auto;
	margin-bottom: 0px;
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	text-align: center;
}
.tuijian_huizi{
	width: 234px;
	height: 36px;
	font-size: 11px;
	color: #ff6700;
	text-align: center;
	line-height: 36px;
}
.tuijian_jiage4{
	width: 234px;
	height: 26px;
	/* background: red; */
	float: left;
	font-size:12px;
	color: #b7b0b7; 
	line-height: 26px;
	text-align: center;
}
.tuijian_top{
	width: 1226px;
	height: 58px;
	background: #f5f5f5;
}
.tuijian_top h1{
	font-size: 21px;
	color: #333333;
	line-height: 58px;
	float: left;
} 



/* 热评产品 */
.reping{
	width: 1226px;
	height: 474px;
	background: #f5f5f5;
	margin: 0 auto;
}
.reping_top{
	width: 1226px;
	height: 59px;
	/* background: red; */
}
.reping_bottom{
	width: 1226px;
	height: 415px;
	background: #f5f5f5;
}
.reping_topl{
	width: 111px;
	height: 59px;
	/* background: pink; */
	font-size: 21px;
	color: #333333;
	font-weight: bold;
	line-height: 59px;
}
.reping_bottom li{
	width: 296px;
	height: 415px;
	background: #fff; 
	float: left;
	margin-right: 14px;
	transition: all 0.1s linear 0.2s; 
}
.reping_bottom li:hover{
	transform: translateY(-2px);
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
}
.reping_bottom li:last-child{
	margin-right: 0px;
}
.reping_bottom_tu{
	width: 296px;
	height: 220px;
	/* background: red; */
	display: block;
}
.reping_bottom_pingjia{
	width: 240px;
	height: 61px;
	/* background: blue; */
	display: block;
	margin-top: 34px;
	margin-left: 28px;
	font-size: 12px;
	color: #333333;
}
.reping_bottom_laizi{
	width: 268px;
	height: 30px;
	/* background: #52a; */
	margin-top: 21px;
	margin-left: 28px;
	font-size: 12px;
	color: #b7b0c1;

}
.reping_bottom_3zi{
	width: 268px;
	height: 18px;
	background: #fff;
	margin-left: 28px;
	padding-top: 6px;
	position: relative;
}
.reping_bottom_3zil{
/* 	width: 70px;
	height: 14px; */
	display: block;
	/* padding-top: 6px; */
	/* border-right: 1px solid #e0e0e0; */
	float: left;
	padding-right: 11px; 
	font-size: 12px;
	color: #333333;
	line-height: 14px;
	border-right:1px solid #e0e0e0; 
	margin-left: 2px;
}
/* .reping_bottom_3zil1{
	padding-right: 11px;
	background: blue;
	font-size: 12px;
	color: #333333;
	line-height: 14px;
	border-right:1px solid #e0e0e0; 
	margin-left: 2px;
	/* float: left; */
.reping_bottom_3zil2{
	width: 150px;
	height: 14px;
	font-size: 12px;
	color: #ff6700;
	padding-left: 10px;
	/* background: #52a; */
	line-height: 14px;
	position: absolute;
    top: 6px;
    left: 74px;
}


/* 内容 */
.neirong{
	width: 1226px;
	height: 479px;
	background: #f5f5f5;
	margin: 0 auto;
}
.neirong_top{
	width: 1226px;
	height: 59px;
	/* background: blue; */
}
.neirong_bottom{
   width: 1226px;
   height: 419px;
   background: #f5f5f5;
}
.neirong_bottom li{
	width: 296px;
	height: 419px;
	background: #fff;
	float: left;
	margin-right: 14px;
	position: relative;
	overflow: hidden;
	transition: all 0.1s linear 0.2s; 
	
}

.neirong_bottom_li1{
    width:888px;
    height: 420px;
    /* background: red; */
    overflow: hidden;
    margin-left: 0px;
    transition: all 0.2s linear 0.2s;
}
.neirong_bottom_li1_1{
	width: 296px;
	height: 420px;
	background: #fff;
	overflow: hidden;
	float: left;
	position: absolute;
	    top: 0;
	    left: 296px;
	/* display: none; */
}
.neirongxian{
	display: block;
	z-index: 60;
	left:0
}

.neirong_bottom li:hover{
	transform: translateY(-2px);
	box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.1);
}




.neirong_bottom>li:last-child{
	margin-right: 0px;
	border-top: 1px solid #2196f3;
}
.neirong_bottom>li:first-child{
	border-top: 1px solid #ffac13;
}
.neirong_bottom>li:nth-child(2){
    border-top: 1px solid #83c44e;
}
.neirong_bottom>li:nth-child(3){
    border-top: 1px solid #e53935;
}



.neirong_bottom_title{
	width: 296px;
	height: 41px;
	/* background: blue; */
	margin-top: 37px;
	font-size: 15px;
	color: #ffac13;
	text-align: center;
	line-height: 41px;
}
.neirong_bottom_xiao{
	display: block;
	width: 296px;
	height: 30px;
	/* background: pink; */
	font-size: 20px;
	color: #333333;
	text-align: center;
	margin-top: 7px;
	font-weight: bold;
}
.neirong_bottom_jiesao{
	display: block;
	width: 192px;
	height: 42px;
	margin: 0 auto;
	/* background: #52a; */
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.neirong_bottom_jiage{
	display: block;
	width: 296px;
	height: 34px;
	/* background: blue; */
	font-size: 12px;
	color: #333333;
	text-align: center;
	line-height: 34px;
}
.neirong_bottom_tu{
	width: 218px;
	height: 171px;
	/* background: pink; */
	display: block;
	margin: 0 auto;

}
.neirong_bottom_qiu{
	width: 78px;
	height: 10px;
	/* background: pink; */
	/* margin-bottom: 25px; */
	/* margin-left: 109px; */
	position: absolute;
	bottom: 25px;
	left: 109px;
	z-index: 66;
	margin-top: 19px;
}
.neirong_bottom_qiu li{
    width: 6px;
	height: 6px;
	background: #b0b0b0;
	border: 2px solid #fff; 
	border-radius: 50%;
	/* margin-right: 24px; */
	float: left;
}
.neirong_bottom_qiu .qiubian{
	border: 2px solid #ff6700;
}


.neirong_bottom_qiu li:hover{
	border: 2px solid #ff6700;
} 
.neirong_bottom_left{
	width: 20px;
	height: 48px;
	background: #d9d9d9;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	position: absolute;
	left: -20px;
	top: 190px;
	z-index: 90;
	transition: all 0.1s linear 0.2s; 
	cursor: pointer;
}
.neirong_bottom_right{
    width: 20px;
	height: 48px;
	background: #d9d9d9;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 48px; 
	position: absolute;
	right: -20px;
	top: 190px;
	z-index: 90;
	transition: all 0.1s linear 0.2s; 
	cursor: pointer;
}
.neirong_bottom li:hover .neirong_bottom_left{
	left: 0px;
	top: 190px;
	/* bottom: 0px;
	margin-top: auto;
	margin-bottom: auto; */
}
.neirong_bottom li:hover .neirong_bottom_right{
	right: 0px;
	top: 190px;
}
.neirong_bottom_left:hover{
	background: #8d8d8d;
}
.neirong_bottom_right:hover{
	background: #8d8d8d;
}
.neirong_bottom_title2{
	width: 296px;
	height: 41px;
	/* background: blue; */
	margin-top: 37px;
	font-size: 15px;
	color: #83c44e;
	text-align: center;
	line-height: 41px;
}
.neirong_bottom_title3{
	width: 296px;
	height: 41px;
	/* background: blue; */
	margin-top: 37px;
	font-size: 15px;
	color: #e53935;
	text-align: center;
	line-height: 41px;
}
.neirong_bottom_title4{
	width: 296px;
	height: 41px;
	/* background: blue; */
	margin-top: 37px;
	font-size: 15px;
	color: #2196f3;
	text-align: center;
	line-height: 41px;
}


/* 视频 */
.shipin{
    width: 1226px;
    height: 344px;
    background: #f5f5f5;
    margin:0 auto ; 
}
.shipin_top{
	width: 1226px;
	height: 59px;
	/* background: red; */
}
.shipin_bottom{
	width: 1226px;
	height: 285px;
	background: #f5f5f5;

}
.shipin_topl{
	width: 65px;
	height: 59px;
	/* background: #52a; */
	font-size: 21px;
	color: #333333;
	line-height: 59px;
	font-weight: bold;
	float: left;
}
.shipin_topR{
	width: 92px;
	height: 59px;
	/* background: #ffa; */
	float: right;
}
.shipin_topR1{
	width: 69px;
	height: 59px;
	/* background: blue; */
	font-size: 16px;
	color: #424242;
	line-height: 59px;
	float: left;
}
.shipin_topR2{
	width: 20px;
	height: 20px;
	background: #b0b0b0;
	border-radius: 50%;
	float: right;
	margin-top: 19px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.shipin_topR:hover .shipin_topR1{
	color: #ff6700;
}
.shipin_topR:hover .shipin_topR2{
	
	background:#ff6700; 
}
.shipin_bottom li{
	width: 296px;
	height: 285px;
	background: #fff;
	float: left;
	margin-right: 14px;

}
.shipin_bottom li:last-child{
	margin-right: 0px;
}
.shipin_bottom_tu{
	display: block;
	width: 296px;
	height: 180px;
	/* background: blue; */
	position: relative;
}
.shipin_bottom_title{
	width: 296px;
	height: 29px;
	/* background: #25a; */
	margin-top: 23px;
	font-size: 13px;
	line-height: 29px;
	color: #333;
	text-align: center;
	cursor: pointer;

}
.shipin_bottom_jieshao{
    width: 296px;
    height: 23px;
    /* background: #52a; */
    font-size: 11px;
    line-height: 23px;
    color: #b0b0b0;
    text-align: center;
}
.shipin_bottom_bofang{
	width: 32px;
	height: 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
	position: absolute;
	bottom: 10px;
	left: 20px;
	border-radius: 12px;

}
.shipin_bottom_bofang .icon-bofanganniu{
	font-size: 11px;
	color: #fff;
	text-align: center; 
	line-height: 20px;
	margin-left: 11px;

}
.shipin_bottom_bofang:hover{
	background: #ff6700;
	border: 2px solid #ff6700; 
}


/* 服务 */
.fuwu{
	width: 100%;
	background: #fff;
	height: 272px;
	margin-top: 60px;
}
.fuwu_top{
	width: 1226px;
	height: 79px;
	/* background: red; */
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.fuwu_top1{
	width: 243px;
	height: 25px;
	/* background: pink; */
	float: left;
	border-right: 1px solid #e0e0e0;
	margin-top: 28px;
}

.fuwu_top1 a{
	display: block;
	width: 243px;
	height: 25px;
	/* background: pink; */
	/* float: left; */
	/* border-right: 1px solid #e0e0e0; */
	/* margin-top: 28px; */
    /* overflow: hidden; */
}

.fuwu_top1 a:hover  .fuwu_top_lian2{
	color: #ff6700;
}
.fuwu_top1:last-child{
	border-right: none;
}
.fuwu_top_lian1{
	width: 88px;
	height: 25px;
	/* background: #52a; */
	float: left;
}
.fuwu_top_lian2{
	width: 155px;
	height: 25px;
	/* background: red; */
	float: right;
	font-size: 16px;
	color: #616161;
	line-height: 25px;
	font-weight: bold;
}
/*  .fuwu_top_lian2:hover{
	color: #ff6700;
} */


/* .fuwu_top_lian2:hover .iconfont{
	color: #ff6700;
}  */

.fuwu_top1 a:hover  .iconfont{
	color: #ff6700;
}

.icon-buoumaotubiao46{
	font-size: 25px;
	color: #616161;
	line-height: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
}
 .icon-buoumaotubiao46:hover{
	color: #ff6700;
}


/* .icon-buoumaotubiao46:hover .fuwu_top_lian2:first-child{
	color: #ff6700;
}  */ 


.icon-7{
    font-size: 25px;
	color: #616161;
	line-height: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
}
 .icon-7:hover{
	color: #ff6700;
}
.icon-15{
    font-size: 25px;
	color: #616161;
	line-height: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
}
.icon-15:hover{
	color: #ff6700;
}
.icon-gifs{
    font-size: 25px;
	color: #616161;
	line-height: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
}
.icon-gifs:hover{
	color: #ff6700;
}
.icon-dingwei{
    font-size: 25px;
	color: #616161;
	line-height: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
}
.icon-dingwei:hover{
	color: #ff6700;
}

.fuwu_bottoml{
	width: 974px;
	height: 112px;
	/* background: #52a; */
	margin: 0 auto;
	margin-top: 40px;
	 border-right: 1px solid #e0e0e0; 
	 float: left;

}
.fuwu_bottom{
	width: 1226px;
	height: 192px;
	background: #fff;
	margin: 0 auto;
	
}
.fuwu_bottomR{
	width: 251px;
	height: 113px;
	/* background: #25a; */
	float: right;
	margin-top: 40px;
}
.fuwu_bottoml_top{
   width: 974px;
   height: 26px;
   /* background: red; */
}
.fuwu_bottoml_top1{
	width: 57px;
	height: 26px;
	/* background: pink; */
	float: left;
	margin-right: 103px;
	font-size: 12px;
	color: #424242;
}

.fuwu_bottoml_bottom{
	width: 974px;
	height: 87px;
	/* background: blue; */
}
.fuwu_bottoml_bottom1{
	width: 49px;
    height: 12px;
    margin-right: 111px;
    /* background:pink; */
    margin-top: 17px;
    float: left;
    font-size: 12px;
    color: red; 
}

.fuwu_bottoml_bottom1 a:hover {
	color: #ff6700;
}
.fuwu_bottomR1{
	width: 251px;
	height: 18px;
	/* background: red; */
	font-size: 16px;
	color: #ff6700;
	text-align: center;
	font-weight: bold;
}
.fuwu_bottomR2{
	width: 122px;
	height: 42px;
	/* background: pink; */
	margin:0 auto;
	font-size: 11px;
	color:#616161; 
	padding-top: 12px; 
	text-align: center;


}
.fuwu_bottomR3{
    width: 118px;
    height: 28px;
    background: #fff;
    margin:0 auto;
    border: 1px solid #ff6700; 
    margin-top: 7px;
}
.icon-xiaoxi{
	font-size: 12px;
	color: #ff6700;
	float: left;
	margin-left: 8px;
	line-height: 28px;
}
.fuwu_bottomR3_lian3{
	width: 90px;
	height: 28px;
   font-size: 12px;
   color: #ff6700;
   float: right;
    line-height: 28px; 
}
.fuwu_bottomR3_lian{
	width: 118px;
    height: 28px;
    background: #fff;
    display: block;
}
.fuwu_bottomR3_lian:hover{
	background: #ff6700;
} 
.fuwu_bottomR3_lian:hover .icon-xiaoxi{
	color: #fff;
} 
.fuwu_bottomR3_lian:hover .fuwu_bottomR3_lian3{
	color: #fff;
} 
.zuihou{
	width: 100%;
	height: 139px;
	background: #fafafa;
	padding-top: 27px;

}
.zuihou_top{
    width: 1226px;
    height: 60px;
    /* background: red; */
    margin: 0 auto;
    /* margin-top: 27px; */
    position: relative;
}
.zuihou_top_tubiao{
    margin-top: 3px;
    margin-left: 1px;
}
.zuihou_top2{
   width: 594px;
   height: 18px;
   /* margin-left: 10px; */
   position: absolute;
	left: 67px;
	top: 0px;
	
}
.zuihou_top2 li{
	float: left;
}
.zuihou_top2 li a{
	font-size: 12px;
	color: #757575;
	padding-right: 6px; 
	padding-left: 5px;
	border-right:1px solid #b0b0b0; 
	display: block;
	/* margin-top: 14px; */
	font-family: "微软雅黑";
	

}

.zuihou_top2 li:last-child a{
      
      border-right: none;
}
.zuihou_top2 li:first-child a{
	padding-left: 0px;
}
.zuihou_top2 li a:hover{
	color: #ff6700;
}
.zuihou_top3{
	width: 594px;
	height: 11px;
	/* background: pink; */
	position: absolute;
	left: 67px;
	top: 18px;
	padding-top: 3px;

}
.zuihou_top3_1{
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    margin-right: 3px;

}
.zuihou_top3_1 a{
	color: #B0B0B0;
}


.zuihou_top3_1 a:hover{
	color: #ff6700;
}

.zuihou_top4{
   width: 594px;
   height: 25px;
   /* background: blue; */
   position: absolute;
	left: 67px;
	top: 35px;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 25px;
}
.zuihou_topR{
	width: 458px;
	height: 60px;
	/* background: blue; */
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
}
.zuihou_topR1{
   float: left;
   margin-left: 10px;
}
.zuihou_topR1:first-child{
	margin-left: 0px;
}

.zuihou_topR_tu{
	display: block;
	width: 83px;
	height: 29px;
	margin-top: 19px;
}
.zuihou_topR_tu img{
	display: block;
	width: 100%;
	height: auto;
}
.zuihou_bottom{
	width: 1226px;
	height: 79px;
	/* background: blue; */
	margin: 0 auto;
	font-size: 19px;
	color: #b0b0b0;
	line-height: 79px;
	text-align: center;
	/* font-weight: bold; */
}


.dadi{
	width: 100%;
	height: 5400px;
	background: #f5f5f5;
}
